body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    margin: 0;
    background: #222;
    font-family: 'Open Sans', sans-serif;
}

.card {
    background: #eaeaea;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}